@import"./variables/variables";
@import"./components/page-header";
@import"./components/logo";
@import"./components/hero";
@import"./components/button";
@import"./components/modal";
@import"./components/feature";
@import"./components/work";
@import"./components/team";
@import"./components/clients";
@import"./components/footer";

body {
	width: 1600px;
	margin: 0 auto;
	color: $primary-text-color;
	background-color: $main-title-color;
	font-family: 'Roboto', 'Raleway';
	}
  
  *,
  *::before,
  *::after {
	box-sizing: border-box;
  }
  
  a {
	text-decoration: none;
  }
  
  ul {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
  }
  
  .container {
	width: 1200px;
	margin: 0 auto;
  }
  h1,
  h2,
  h3,
  p {
	margin-top: 0;
	margin-bottom: 0;
  }
  
  .list {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  .image {
	display: block;
  }
  
.section {
	padding-top: 94px;
	padding-bottom: 94px;
  }