.clients {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .clients__item{  
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 170px;
	height: 92px;
	margin-right: 30px;
  
	border: 1px solid #AFB1B8;
	border-radius: 4px;  
  
	transition: border-color $timing;
  }
  .clients__item:last-child{   
	margin-right: 0px;
  }
  .client__icon {
	display: flex;
	justify-content: center;
	align-items: center;
  
	width: 106px;
	height: 60px;
  
	fill: #AFB1B8;
	transition: fill $timing;
  }
	.clients__item:hover { 
	border-color: $accent-color;
	transition: border-color $timing;
	}
  .clients__item:hover svg{
	fill: $accent-color;
	transition: fill $timing;
	}
  
  