
/* H2 */
.section-title {
	margin-bottom: 50px;
	color: $title-text-color;
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;  
  }
  .main-section {
	display: block;
	width: 1600px;
	height: 600px;
	padding: 200px 0 280px 0;
	background-color: $main-bg-color;
	background-image:linear-gradient( to right,
	rgba(0,0,0,0.5),
	rgba(0,0,0,0.5)),
	url(/images/header.jpg);
	text-align: center;
  }
  
  .main-title {
	display: block;
	width: 691px;
	margin: 0 auto;
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	color: $main-title-color;  
  }
  