$accent-color:#2196f3;
$primary-text-color: #757575;
$title-text-color: #212121;
$logo-color: #000000;
$main-title-color: #ffffff;
$footer-bg-color: #2f303a;
$main-bg-color: #c4c4c4;
$bg-color: #f5f4fa;

$timing: 250ms cubic-bezier(0.4, 0, 0.2, 1); 